<div class="row">
    <div class="col-md-6 mx-auto mt-3">
        <div class="card">
            <div class="card-body">
              <h1 class="text-center">REGISTRO</h1>
              <form>
                  <label for="email">Email</label>
                  <input type="email" name="email" id="email" class="form-control">
              </form>
              <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" name="password" class="form-control" id="password">
              </div>
              <input type="text" value="ENVIAR" class="btn btn-primary btn-block btn-lg">
            </div>
        </div>
    </div>
</div>
